<template>
  <section class="hero is-primary is-medium">
    <div class="hero-bg">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Welcome to SocialMeetup
          </h1>
          <h2 class="subtitle">
            Plan your events simple and anywhere
          </h2>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {}
</script>

<style scoped>
</style>
