<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>SocialMeetup</strong> by Rushikesh Nagothanekar . The source code is licensed.
      </p>
    </div>
  </footer>
</template>

<script>
  export default {
  }
</script>

<style scoped>
</style>
